{% extends "base_template.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="testimonials text-center bg-light">
    <!-- <div class="container"> -->
    <div class="page-header" style="padding-top: 20px;">
      <h1 class="mb-5">Meet our team!</h1>
      <div class="row" style="padding-top: 20px;">

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/hang.jpg" height="50%" width="50%" alt="">
            <h4><a href="https://suhangpro.github.io/">Hang Su</a></h4>
            <h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/souyoung.jpg" height="50%" width="50%" alt="">
            <h4><a href="https://sites.google.com/site/souyoungjin/">SouYoung Jin</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/huaizu.png" height="50%" width="50%" alt="">
            <h4><a href="https://people.cs.umass.edu/~hzjiang/">Huaizu Jiang</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/ashish.jpg" height="50%" width="50%" alt="">
            <h4><a href="https://www.linkedin.com/in/ashish-singh-a750b7b6/">Ashish Singh</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/chetan.jpg" height="50%" width="50%" alt="">
            <h4><a href="https://people.cs.umass.edu/~cmanjesh/">Chetan Manjesh</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/geng.jpg" height="50%" width="50%" alt="">
            <h4><a href="#">Geng Luo</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        </div>
        <div class="row" style="padding-top: 20px;" >

          <div class="col-md-2">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="#" height="50%" width="50%" alt="">
              <h4><a href=""></a></h4>
              <p ><h5><font face=helvetica style=font-size:18px ></font><h5></p>
            </div>
          </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/william.png" height="50%" width="50%" alt="">
            <h4><a href="https://willh.ml">Ziwei He</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/li.jpg" height="50%" width="50%" alt="">
            <h4><a href="#">Li Hong</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/erik.jpg" height="50%" width="50%" alt="">
            <h4><a href="https://people.cs.umass.edu/~elm/">Erik G. Learned-Miller</a></h4>
            <p><h5><font face=helvetica style=font-size:18px >CICS, UMass Amherst</font><h5></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/images/people/rosie.jpg" height="50%" width="50%" alt="">
            <h4><a href="https://www.umass.edu/pbs/people/rosie-cowell">Rosie Cowell</a></h4>
            <p ><h5><font face=helvetica style=font-size:18px >PBS, UMass Amherst</font><h5></p>
          </div>
        </div>
        </div>


    </div>

{% endblock %}
